:root {
    --primario: #D6E1F0;
    --secundario: #FFFFFF;
    --negro: #000000;
}


html {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--primario);
}

section {
    background-color: var(--secundario);
    text-align: center;
    margin: 8rem auto;
    border-radius: 2rem;
}

.img-qr {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;

}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

@media (min-width: 350px) {
    section {
        width: 350px;
             
    }
}

p {
    margin: 1rem 1rem;
    padding-bottom: 2rem;
}

h1 {
    margin: 1rem 1rem;
    padding-bottom: 2rem;
}
    
    


